<div class="container">

<h2>Editing Examination</h2>

<%= render 'form', examination: @examination %>

<%= link_to 'Show', @examination, class: "badge badge-secondary"%> |
<%= link_to 'Back', examinations_path, class: "badge badge-secondary" %>

</div>